name: CI
on: [push]
jobs:
  build:
    name: Build, lint, and test on Node ${{ matrix.node }} and ${{ matrix.os }}

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: ['18.x', '20.x', '22.x']
        os: 
         - ubuntu-latest
         ## Skip Windows and macOS based testing target, because they regularly fail 
         ## because of network interuptions while installing dependencies.
         # - windows-latest 
         # - macOS-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Use Node ${{ matrix.node }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --immutable

      - name: Lint
        run: yarn lint

      - name: Test
        run: yarn test --ci --coverage --maxWorkers=2

      - name: Build
        run: yarn build
